@import '../pages/styles/homeProducts.scss'; 
@import '../components/styles/filters.scss';
@import '../components/styles/header.scss';
@import '../components/styles/cart.scss';

//Colors

$primario: #fff;
$secundario: #d1c3f894;
$terciario: #DE6E4B;

body {
    background-color: #d9d9d9;
}