
$primario: #e7e7e7;
$secundario: #d1c3f894;
$terciario: #fa8b69db;

.cart {
    z-index: 9;
    display: none;
    img {
        aspect-ratio: 1/1;
        width: 100px;
        height: auto;
    }
    ul {
      padding: 15px;
      margin-block-start: 0;
      padding-inline-start: 20px;
      li {
          border-bottom: 1px solid #444;
          padding-bottom: 16px;
          list-style: none;
      }
    }
    footer {
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
        button {
            padding: 8px;
        }
    }   
}


.cart-icon {
  position: sticky;
  align-items: center;
  display: flex;
  left: 94vw;
  top: 50vh;
  padding: 4px;
  background: $terciario;
  border-radius: 9999px;
  cursor: pointer;
  height: 32px;
  justify-content: center;
  transition: all .3s ease;
  width: 32px;
  z-index: 9999;
  h2 {
    font-size: large;
    height: auto;
    z-index: 10;
  }
  &:hover {
    scale: 1.1;
  }
}

.cart-icon ~ input:checked ~ .cart {
      overflow: scroll;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      z-index: 9;
      background: $terciario;
      padding: 5px;
      position: fixed;
      right: 0px;
      top: 0px;
      width: 330px;
      height: 100vh;
}

.cart-icon ~ input:checked ~ {
  border: 5px solid red;
}

button {
    cursor: pointer;
    margin: 4px;
    padding: 2px;
}
