.filters {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
    div {
        display: flex;
        gap: 1rem;
        padding: 0.5rem 2rem;
    }
}